<!DOCTYPE html>
<html>
  <head>
    <title>Projeto Million</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bem vindo a API administradores inicial do projeto million</h1>
    <p>Informação que mostraremos da API</p>
    <a href="/adm.json" target="_blanck">Clique aqui para chamar a primeira API</a> 
  </body>
</html>
