<!DOCTYPE HTML>
<html lang=”pt-br”>
<head>
<meta charset=”UTF-8”>
<link rel=”stylesheet” type=”text/css” href=”estilo.css”>
<title>Projeto Million</title>
</head>
<body>
  <h1>Bem vindo a api inicial do projeto million </h1>
  <p>informação que mostraremos da api</p>

  <a href = "/adm.json" target = "_blank"> Clique aqui para chamar a primeira api</a>

</body>
</html>