<!DOCTYPE html>
<html>
  <head>
    <title>Projeto Million</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bem vindo a api inicial do projeto million</h1>
    <p>Informação que mostraremos da API</p>
  </body>
</html>
